.app-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto; /* Centrera horisontellt */
  padding: 2rem;
  text-align: center;
}

.question-heading {
  margin-bottom: 20px;
}

.question-number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.noter {
  margin: 0 auto; /* Centrera innehållet */
  max-width: 600px; /* Anpassa maxbredd efter ditt behov */
}

label {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
