.app-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.question-heading {
  margin-bottom: 20px;
}

.question-number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
}

nav {
  background-color: #f8f9fa;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}

.noter {
  margin: 0 auto;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.high-scores-container {
  padding: 1rem;
  background-color: green;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.high-scores-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.high-scores-container ul {
  list-style-type: none;
  padding: 0;
}

.high-scores-container ul li {
  font-size: 1.5em;
  margin: 10px 0;
}
